
div.main {
    padding: 25px;
    margin: 30px;
    box-shadow: -10px 0px 50px 10px rgba(0,0,0,0.19);
}
div.main a{
  text-decoration: underline;
  color:grey;
}
div h1{
  padding-bottom: 10px;
  color:teal;
}
div h1.title{
  font-weight: bold;
}
}
div p.link{
  text-decoration: underline;
}
div p.date{
  font-size: 18px;
}
div p{
  font-size: 18px;
  color:gray;
}
div hr{
box-sizing:content-box;
height:1px;
overflow:visible;
}
div.inner-container{
padding-bottom: 10px;
}
i{
  color:teal;
}
span.current {
  width:200px;
  height:100px;
}
.glyphicon:before {
  margin-right: 25px;
}
p.icon{
  color:teal;
}
